<header class="jumbotron subhead" id="overview">
    <h1>Cognitive Dynamics & Adaptability  Lab</h1>
    <p class="lead"> The Open University of Israel </p>
 </header>
 <div class="masthead">
    <div class="navbar">
       <div class="navbar-inner">
          <div class="container">
             <ul class="nav">
                {{ $currentPage := . }}
                {{ range site.Menus.main }}
                  {{ if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)  }}
                     <li class="active">
                  {{ else }}
                     <li>
                  {{ end }}
                     <a href="{{ .URL }}">
                        {{ .Name }}
                     </a>
                  </li>
               {{ end }}
             </ul>
          </div>
       </div>
    </div>
 </div>