<head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Research Lab, Home, Velit Aliquet Sagittis University">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/css/theme.css" rel="stylesheet">
    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    <script src="https://kit.fontawesome.com/a65e0aefc4.js" crossorigin="anonymous"></script>
 </head>